<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Feedback form</title>

	<!-- Your META here -->
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0" name="viewport">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="j-folder/css/demo.css">
	<link rel="stylesheet" href="j-folder/css/font-awesome.min.css">
	<link rel="stylesheet" href="j-folder/css/j-forms.css">

	<!-- Scripts -->
	<script src="j-folder/js/jquery.1.11.1.min.js"></script>

	<!--[if lt IE 10]>
			<script src="j-folder/js/jquery.placeholder.min.js"></script>
		<![endif]-->

</head>
<body class="bg-pic">

	<div class="popup-menu">
		<div class="popup-list">
			<ul>
				<!-- for proper work of the popup form -->
				<!-- don't forget to add appropriate javascript code to your form-->
				<!-- from the bottom of this page-->
				<li class="popup-list-open" id="fed-popup-menu">
					Leave a feedback
					<div class="popup-list-wrapper">
						<form action="" method="" class="j-forms" novalidate>

							<div class="content">

								<!-- start name -->
								<div class="unit">
									<div class="input">
										<label class="icon-right" for="name">
											<i class="fa fa-user"></i>
										</label>
										<input type="text" id="name" name="name" placeholder="name">
									</div>
								</div>
								<!-- end name -->

								<!-- start email-->
								<div class="unit">
									<div class="input">
										<label class="icon-right" for="email">
											<i class="fa fa-envelope-o"></i>
										</label>
										<input type="email" placeholder="email" id="email" name="email">
									</div>
								</div>
								<!-- end email -->

								<!-- start message -->
								<div class="unit">
									<div class="input">
										<textarea placeholder="feedback message..." spellcheck="false" name="message"></textarea>
									</div>
								</div>
								<!-- end message -->

								<button type="submit" class="primary-btn">Send</button>

							</div>
							<!-- end /.content -->

						</form>
					</div>
					<!-- /. popup-list-wrapper -->
				</li>
				<!-- /. popup-list-open -->

			</ul>
		</div>
		<!-- end /.popup-list -->
	</div>
	<!-- end /.popup-menu -->
	<script>
	$(document).ready(function() {
		/***************************************/
		/* Popup menu forms */
		/***************************************/
		// If user clicks on the 'subscribe' item
		// Open popup-menu subscribe form
		$('#fed-popup-menu').on('click', function() {
			if ( $('#fed-popup-menu .popup-list-wrapper').css('display') == 'none' ) {
				$('#fed-popup-menu .popup-list-wrapper').css({ display:'block', left:'auto', right:'0', opacity:'1' });
			}
		});

		// Add an event listener
		// If user clicks outside a form
		// The form will disappear
		$(document).on('click touchstart', function(event) {
			// Close popup-menu 'subscribe' form
			if (!$(event.target).closest('#fed-popup-menu').length) {
				if ( $('#fed-popup-menu .popup-list-wrapper').css('display') == 'block' ) {
					$('#fed-popup-menu .popup-list-wrapper').css({ display:'none', left:'-9999px', opacity:'0' });
				}
			}
		});
		/***************************************/
		/* end popup menu forms */
		/***************************************/
	});
	</script>
</body>
</html>